.root {
	-fx-pref-width: 300;
	-fx-pref-height: 300;
	-fx-min-width: 300;
	-fx-min-height: 200;
}

#btn_delete {
}

#btn_previousDay {
    -fx-background-color: transparent;
}

#btn_nextDay {
    -fx-background-color: transparent;
}

#btn_previousDay:hover {
    -fx-background-color: lightgray;
}

#btn_nextDay:hover {
    -fx-background-color: lightgray;
}

.activitiesLayout {
	-fx-max-width: 300;
}

#lst_activities {
	-fx-pref-height: 99999;
	-fx-max-width: 300;
}

#lst_activities .list-cell {
	-fx-padding: 0 0 0 0;
}

#lst_activities .list-cell .label {
	-fx-text-overrun: ellipsis;
}

/*
#lst_activities .list-cell:selected {
}
 */

#lst_activities .list-cell:selected .label {
	-fx-text-fill: black;
}

#lst_activities .list-cell:odd:filled:selected:focused {
	-fx-background-color: #fafafa;
}

#lst_activities .list-cell:even:filled:selected:focused {
	-fx-background-color: white;
}

.control-box {
	-fx-min-height: 80;
	-fx-border-width: 0 1 0 0;
	-fx-border-color: grey;
	-fx-padding: 10 10 10 10;
	-fx-spacing: 10;
	-fx-min-width: 300;
}

.control-box .date-select {
	-fx-spacing: 10;
	-fx-alignment: center ;
}

#btn_toggleTimer {
}

.active-timer-box {
	-fx-padding: 5 10 5 10;
	-fx-spacing: 5;
}

.time-buttons {
	-fx-spacing: 10;
	-fx-opacity: 0.6;
	-fx-pref-height: 20;
	-fx-alignment: center;
}

.active-timer-box:hover .time-buttons {
	-fx-opacity: 1;
}

.active-timer-box:hover .timer-labels .btn_delete, 
.active-timer-box:hover .timer-labels .btn_rename {
	-fx-opacity: 0.3;
}

.active-timer-box .timer-labels .btn_delete:hover,
.active-timer-box .timer-labels .btn_rename:hover,
.active-timer-box .timer-labels .btn_toggle:hover {
	-fx-opacity: 1;
}

.listbox #btn_delete {
	-fx-opacity: 0;
	-fx-background-color: transparent;
	-fx-opacity: 0;
	-fx-padding: 0 0 0 2;
}

.listbox:hover #btn_delete {
	-fx-opacity: 0.3;
}

.listbox #btn_delete:hover {
	-fx-opacity: 1;
}

.time-buttons .button {
	-fx-background-color: transparent  ;
	-fx-font-size: 0.9em;
	-fx-padding: 2 7 2 7;
}

.time-buttons .button:hover {
	-fx-background-color: lightgray ;
}

.timer-labels {
	-fx-spacing: 5;
	-fx-alignment: center-left ;
}

.timer-labels #lbl_activityName {
	-fx-wrap-text: true ;
	-fx-font-size: 0.9em;
	-fx-pref-height: 30;
}

.timer-labels #lbl_activityTime {
	-fx-font-size:1em;
	-fx-min-width: 60;
}

.timer-labels .button {
	-fx-background-color: transparent;
	-fx-opacity: 0;
	-fx-padding: 0 0 0 0;
}

.timer-labels .btn_rename {
}

.timer-labels .btn_delete {
}

.timer-labels .btn_toggle {
	-fx-opacity: 0.6;
}

.timer-labels .button:hover {
	-fx-opacity: 1;
}

.timer-detail-button {
	-fx-background-color: transparent;
	-fx-text-fill: darkgrey;
	-fx-padding: 5 0 5 5;
}

.timer-detail-button:hover {
	-fx-text-fill: blue;
}

.listbox {
	-fx-max-width: 300;
	-fx-pref-height: 26;
	-fx-max-height: 26;
	-fx-padding: 5 10 5 10;
}

.listbox:hidden {
	-fx-max-height: 0;
	-fx-pref-height: 0;
}

.listbox #lbl_time {
	-fx-min-width: 20;
	-fx-text-alignment: right;
}

.listbox #lbl_name {
	-fx-max-width: 200;
}

.listbox.running {
}

.listbox.running .timer-detail-button {
	-fx-text-fill: white;
}

.listbox.running .timer-detail-button:hover {
	-fx-text-fill: blue;
}

.active-timer-box {
	-fx-max-width: 300;
	-fx-pref-width: 200;
	-fx-min-width: 200;
}