.root {
	-fx-pref-width: 550;
	-fx-pref-height: 300;
	-fx-min-width: 530;
	-fx-min-height: 200;
}

.listbox {
	-fx-alignment: center-left;
	-fx-cell-size: 26px;
	-fx-padding: 5 10 5 10;
}

.listbox.running {
	-fx-background-color: lightblue;
}

#btn_delete {
}

#lst_activities {
	-fx-pref-height: 99999;
	-fx-max-width: 320;
}

.activitiesLayout {
	-fx-max-width: 320;
}

#lst_activities .list-cell {
	-fx-cell-size: 26px;
	-fx-padding: 0 0 0 0;
	-fx-text-overrun: ellipsis ;
}

#lst_activities .list-cell .label {
	-fx-text-overrun: ellipsis ;
}

#lst_activities .list-cell:selected .label {
	-fx-text-fill: black;
}

#lst_activities .list-cell:odd:filled:selected:focused {
	-fx-background-color: #fafafa;
}

#lst_activities .list-cell:even:filled:selected:focused {
	-fx-background-color: white;
}

.control-box {
	-fx-min-height: 80;
}

.left-box {
	-fx-border-width: 0 1 0 0;
	-fx-border-color: grey;
	-fx-padding: 10 10 10 10;
	-fx-spacing: 10;
	-fx-max-width: 220;
	-fx-min-width: 220;
	-fx-background-color: #f7f7f7;
}

/* right box *****************************/

.right-box {
	-fx-background-color: #f7f7f7 ;
	-fx-border-width: 0 0 0 1;
	-fx-border-color: grey;
	-fx-max-width: 300;
	-fx-min-width: 300;
}

.timer-detail {
	-fx-spacing: 0;
	-fx-pref-width: 220;
}

.time-buttons {
	-fx-spacing: 1;
	-fx-opacity: 0;
	-fx-pref-height: 20;
}

.timer-control-box {
	-fx-spacing: 5;
	-fx-pref-width: 80;
	-fx-alignment: top-center ;
}

.timer-toolbar {
	-fx-alignment: top-center;
	-fx-spacing: 5;
}

.timer-toolbar .button {
	-fx-pref-width: 42.5;
}

#btn_toggleTimer {
	-fx-pref-width: 90;
	-fx-pref-height: 37.5;
}

.date-select {
	-fx-spacing: 10;
}

.active-timer-box {
	-fx-padding: 5 5 5 5;
	-fx-spacing: 5;
}

.active-timer-simple {
	-fx-background-color: #f7f7f7;
	-fx-max-width: 100;
	-fx-padding: 16 5 10 5;
	-fx-spacing: 10;
	-fx-alignment: top-center ;
}

.active-timer-simple.running {
}

.active-timer-simple #lbl_shortTime {
	-fx-font-size: 1.3em;
}

.active-timer-simple #lbl_shortName {
	-fx-font-size: 0.8em;
}

.right-box:hover .time-buttons {
	-fx-opacity: 1;
}

.time-buttons .button {
	-fx-background-color: transparent  ;
	-fx-font-size: 0.9em;
	-fx-padding: 2 3 2 3;
}

.time-buttons .button:hover {
	-fx-background-color: lightgray ;
}

.timer-labels {
	-fx-spacing: 0;
	-fx-alignment: center-left ;
}

.timer-labels #lbl_activityName {
	-fx-wrap-text: true ;
	-fx-font-size: 0.9em;
	-fx-pref-height: 30;
}

#lbl_activityTime {
	-fx-font-size:1.5em;
}

.timer-detail-button {
	-fx-background-color: transparent;
	-fx-text-fill: darkgrey;
	-fx-padding: 5 0 5 5;
}

.timer-detail-button:hover {
	-fx-text-fill: blue;
}

.listbox {
	-fx-max-width: 318;
}

.listbox #lbl_time {
	-fx-min-width: 60;
}

.listbox.running .timer-detail-button {
	-fx-text-fill: white;
}

.listbox.running .timer-detail-button:hover {
	-fx-text-fill: blue;
}